#main-body {
    height: 1fr;
}

#content {
    height: 1fr;
}

NavigationRail {
    width: 24;
    border-right: tall $primary 20%;
    padding: 1 0;
    align: center top;
    background: $surface-darken-1;
}

NavigationRail Button {
    width: 20;
    margin: 0 2 1 2;
}

#primary {
    width: 2fr;
    padding: 1;
    height: 1fr;
}

#main-switcher {
    height: 1fr;
}

#secondary {
    width: 1.2fr;
    padding: 1;
    height: 1fr;
}

CameraBoard {
    height: 3fr;
}

StatusPanel {
    height: 1fr;
    border-top: solid $surface-darken-1;
    padding: 1;
}

Log {
    height: 1fr;
    border-left: solid $surface-darken-1;
    padding: 0 1;
}

ResourceFooter {
    dock: bottom;
    padding: 0 1;
    background: $background;
}
