av
certifi
charset-normalizer
click
dlib
easyocr
face-recognition
face-recognition-models
facenet-pytorch
filelock
fsspec
idna
Jinja2
joblib
MarkupSafe
mpmath
psutil
networkx
numpy
opencv-contrib-python
opencv-python
pillow==12.0.0
PyYAML
requests
beautifulsoup4
scikit-learn
scipy
setuptools
sympy
threadpoolctl
torch
torchaudio
torchvision
tqdm
typing_extensions
textual
urllib3
wheel
pytest
pytest-emoji
pytest-md
